# Local
.DS_Store
*.local
*.log*

# Dist
node_modules
dist/

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# Environment variables
.env.local
.env.*.local

# Config files with sensitive data
src/config/appwrite.ts
